git+https://github.com/SortAnon/NeMo.git
numpy==1.19.2
scipy==1.6.3
tensorflow==2.4.4
tensorboard==2.4.1
dash==1.21.0
dash-bootstrap-components==0.13.0
jupyter-dash==0.4.0
psola
wget
unidecode
pysptk
frozendict
torch==1.8.1
torchvision==0.9.1
torchaudio==0.8.1
torchtext==0.9.1
torch_stft
kaldiio
pydub
pyannote.audio
g2p_en
pesq
pystoi
crepe
resampy
ffmpeg-python
tqdm
gdown
editdistance
ipywidgets==7.6.3
torchcrepe==0.0.15
taming-transformers-rom1504==0.0.6
einops==0.3.2
tensorflow-hub
werkzeug==2.0.3
networkx==2.2
PyWavelets==1.1.1
tifffile==2019.7.26
sklearn
omegaconf==2.0.5
opencv-python
antlr4-python3-runtime==4.8
zope.interface
zope.event