git+https://github.com/SortAnon/NeMo.git
numpy==1.19.2
scipy==1.6.3
tensorflow==2.4.4
tensorboard==2.4.1
dash==1.21.0
werkzeug==2.0.3
dash-bootstrap-components==0.13.0
jupyter-dash==0.4.0
psola==0.0.1
wget==3.2
unidecode==1.2.0
pysptk==0.1.18
frozendict==2.0.3
torch==1.8.1
torchvision==0.9.1
torchaudio==0.8.1
torchtext==0.9.1
torch_stft==0.1.4
kaldiio==2.17.2
pydub==0.25.1
pyannote.audio==1.1.2
g2p_en==2.1.0
pesq==0.0.2
pystoi==0.3.3
crepe==0.0.12
resampy==0.2.2
ffmpeg-python==0.2.0
tqdm==4.64.1
gdown==4.54.0
editdistance==0.5.3
ipywidgets==7.6.3
torchcrepe==0.0.15
taming-transformers-rom1504==0.0.6
einops==0.3.2
tensorflow-hub==0.12.0
hydra-core==1.0.4
omegaconf==2.0.5
scikit-learn==0.24.2
sklearn==0.0
librosa==0.7.2
soundfile==0.10.3.post1
matplotlib==3.1.3
